.dashboard-side-nav {
  padding-top: 15px;
  padding-left: 40px;

  width: 250px;
  height: 100vh;
  text-align: left;
  position: absolute;
}
.dashboard-side-nav .header .name {
  padding: 0;
}
.dashboard-side-nav .header {
  padding: 0;
}
.dashboard-side-nav ul {
  padding: 0;
  list-style: none;
}
.dashboard-side-nav ul li {
  margin: 40px 0;
}

.dashboard-side-nav ul li:hover {
  color: rgb(69, 118, 138);
}
.dashboard-side-nav ul li a {
  color: #2c2b2b;
  text-decoration: none;
  margin: 0 6px;
}
.dashboard-side-nav .sign-out {
  margin-top: 100px;
}
