.nav {
  width: 90%;
  position: absolute;
  margin: 10px 5%;
  display: flex;
  justify-content: space-between;
}
.nav .list {
  display: flex;
  align-items: center;
}

.nav .list a {
  color: rgb(49, 49, 49);
  text-decoration: none;
  margin: 0 30px;
  justify-content: center;
}
